h1{
    font-size: 2em;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-color: black;
    color:green;
}
p{
    color: red;
}
.lol{
    color: blueviolet;
}
#section{
    font-size: 3em;
    border-style: dashed;
    border-color: black;
    color: brown;
}
a:hover{
    color: greenyellow;
}
#image{
    height: 50%;
    width: 50%;
    align-items: center;
}
